* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
.header {
    min-height: 110px;
    position: relative;
}
.header__navbar-wrapper {
    background-color: var(--background-color);

}
.header__navbar {
    list-style: none;
    height: 22px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: relative;

}
.header__navbar-list {
    margin: 0 18px;
    
}
.header__navbar-list .header__navbar-link--color {
    color: var(--save-color);
}
.header__navbar-link {
    text-decoration: none;
    color: var(--primary-color);
    outline: none;
    
}
.header__navbar-list .header__navbar-link:hover {
    color: var(--hover-color);
}



        /* header__main-wrapper */
.header__main-wrapper {
    display: flex;
    margin: 0 80.5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}
.header__main-logo {

}
.header__main-logo-img {
    width: 127px;
    height: 40px;
    cursor: pointer;

}
.header__main-search {  
   
    display: flex;
    align-items: center;

}
.header__main-search-item {
    
}
.header__main-search-icon {
    padding: 14px;
    background-color: var(--hover-color);
    height: 100%;
    color: #fff;
    font-family: 300;
    cursor: pointer ;
}
.header__main-search-input {
    outline: none;
    padding: 14.5px 19px;
    flex: 1;
    width: 644px;
    border: 0;
    border-radius: 3px;
    background-color: var(--background-color);
   

    
}
.header__main-cart {
    font-size: 26px;
    margin-left: 30px;
   padding: 10px; 
   cursor: pointer;
  
  
}
.header__main-cart-icon {
    width: 29px;
    height: 26px;
    color: #1b2573  ;


}
.header__main-voucher {
 

}
.header__main-voucher-img {
    width: 188px;
    height: 45px;
    cursor: pointer;
}



        /* header QR */
.header__qr {
    position: absolute;
    top: 140%;
    left: -5px;
    background-color: #fff;
    width: 382px;
    border: 1px solid #bfbfbf;
    z-index: 2;
    display: none;
    animation: fadeIn linear 0.3s;
  
}
.header__navbar-list:hover .header__qr {
    display: block;
    transition: 0.3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header__qr::before {
    content: "";
    position: relative;
    bottom: 24px;
    left: 181px;
   border: 10px solid;
   border-color: transparent transparent rgb(209, 201, 201) transparent;
}
.header__qr::after {
    content: "";
    width: 50%;
    position: absolute;
    top: -15px;
    left: 83px;
    height: 20px;
    display: block;
    background-color:transparent;
}
.header__qr-wrapper {
    padding: 0 20px 20px;
}
.header__qr-heading {
    font-size: 16px;
    margin-bottom: 20px;
}
.header__qr-code {
    display: flex;
}
.header__qr-code-img {
    width: 142px;

}
.header__qr-code-desc {
    list-style: disc inside;
    color: var(--text-color);
    font-size: 14px;
    margin-left: 10px;
}
.header__qr-code-desc span {
    color: var(--text-color);
}
.header__qr-code-list {
    padding-left: 10px;

}

.header__qr-code-link {
    text-decoration: none;
    color: var(--text-color);

}
.header__qr-input {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 22px 0;
}
.header__qr-input-icon-wrapper {
    flex: 1;
    height: 100%;
}
.header__qr-input-active {
    height: 38px;
    width: 90%;
    border:none;
    outline: none;
    background-color: #f0f0f0;
    padding: 0 10px;
   
}
.header__qr-input-icon {
    font-size: 25px;
    padding: 6.5px 10px;
    background-color: #f36f36;
    color: #fff;

}
.header__qr-apps {
    display: flex;
    justify-content:center;
    
}
.header__qr-ggplay {
    padding-right: 20px;

}
.header__qr-ggplay-img {
    width: 110px;
    height: 30px;
}
.header__qr-appstore {
    height: 100%;
    padding-left: 20px;

}
.header__qr-appstore-img {
    width: 110px;
    height: 30px;

}

    /* header support */
.header__support {
    background-color: #fff;
    width: 230px;
    position: absolute;
    top: 140%;
    left: 433px;
    border: 1px solid #bfbfbf;
    display: none;
    animation: fadeIn linear 0.3s;
    cursor: pointer;
    animation: fadeIn linear 0.3s;


}
.header__navbar-list:hover .header__support {
    display: block;

}

.header__support::before {
    content: "";
    position: relative;
    bottom: 24px;
    left: 123px;
   border: 10px solid;
   border-color: transparent transparent rgb(209, 201, 201) transparent;
}
.header__support::after {
    content: "";
    width: 100%;
    position: absolute;
    top: -15px;
    height: 20px;
    display: block;
    background-color:transparent;
}
.header__support-contain {
    padding: 0 25px 10px;
}
.header__support-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 20px;
}
.header__support-wrapper--nonepadding {
    padding-bottom: unset;
}
.header__support-icon {
    font-size: 25px;
}
.header__support-heading {
   font-size: 13px;
   margin-left: 15px;
   color: #9e9e9e;
}
.header__support-heading:hover {
    color: var(--hover-color);
    text-decoration: underline;
}



        /* order */
.header__order {
    position: absolute;
    background: #fff;
    border: 1px solid #bfbfbf;
    color: #646464;
    position: absolute;
    top: 140%;
    left: 568px;
    display: none;
    animation: fadeIn 0.3s linear;
}
.header__order::after {
    content: "";
    width: 100%;
    position: absolute;
    top: -15px;
    height: 40px;
    display: block;
    background-color:transparent;
}
.header__navbar-list:hover .header__order {
    display: block;
}
.header__order::before {
    content: "";
    position: relative;
    bottom: 24px;
    left: 126px;
   border: 10px solid;
   border-color: transparent transparent rgb(209, 201, 201) transparent;
}
.header__order-wrapper {
    padding: 0 21px 15px;
}
.header__order-heading {
    font-size: 16px;
    margin-bottom: 12px;
    color: #254a5f;

}
.header__email {
    padding-bottom: 10px;

}
.header__email--padding {
    padding-bottom: 20px;
}
.header__email-heading {
    padding: 5px;
}
.header__email-input {
    display: flex;
}
.header__email-input-active {
    height: 38px;
    border: none;
    outline: none;
    background-color: var(--background-color);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

.header__contact  {
    padding-bottom: 20px;
    line-height: 1.4;
}
.header__contact a {
    text-decoration: none;
    color: #199cb7;

}
.header__contact a:hover {
    text-decoration: underline;
}

.header__languages {
    position: absolute;
    top: 140%;
    right: 5px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    animation: fadeIn linear 0.3s;
}
.header__navbar-list:hover .header__languages {
    display: flex;
    transition: 0.3s;
}
.header__languages::before {
    content: "";
    position: relative;
    bottom: 43px;
    left: 168px;
   border: 10px solid;
   border-color: transparent transparent rgb(209, 201, 201) transparent;
}
.header__languages::after {
    content: "";
    width: 100%;
    position: absolute;
    top: -15px;
    height: 20px;
    display: block;
    background-color:transparent;
}
.header__languages-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-right: 20px

}
.header__flag-wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px
}
.header__flag-wrapper-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
   margin-right: 8px;
   border: 1px solid #bfbfbf;

}
.header__flag-wrapper-img--hide {
   color: #9e9e9e;
}
.header__flag-wrapper-desc {

}
.header__flag-icon {
    margin-left: 3px;

}
.header__flag-icon.header__flag-icon--none {
    display: none;
}


        /* gooods */
.body {
    width: 100%;
    /* height: 350px; */
    background-color: #b90d0b;
    
}
.body__wrapper {
    display: flex;  
    height: 350px;
}
.body__category {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   border: 1px solid #bfbfbf;
    list-style: none;
    padding: 0 !important;
    position: relative;
    height: 350px;
    cursor: pointer;
}
.body__category-text {
    font-size: 13px;
    padding: 6px 8px;
    width: 100%;
    display: flex;
   
   
}
.body__category-text-icon.body__category-text-icon--active {
    float: right;
    /* padding: 4px; */
    display: none;
}

.body__category-text:hover .body__category-text-icon--active {
    display: flex
}

.body__category-text a {
    text-decoration: none;
    color: #757575;
    display: block;
    width: 100%;
    padding: 1px 0;
}
.body__category-text:hover {
    color: var(--hover-color);
    background-color: #e7e8ec;
  
}
.body__category-text a:hover {
   color: var(--hover-color);
   height: 100%;
}
.body__img {
    width: 100%;
    height: 350px;
}
.body__img-wrapper.col {
    padding-left: 0; 
    padding-right: 0;
}
.body__category-sub {
    position: absolute;
    left: 100%;
    top: -1px;
    width: 100%;
    display: none;
    height: 350px;
   
}
.body__category .body__category-text--product1:hover .body__category-sub {
    display: block;
   
}

    /* body connect */
.body__contain-all {
    background-color: #f5f5f5;
} 
.body__connect {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 36px;
}
.body__connect-wraper {
    display: flex;
    align-items: center;
    width: 288px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.body__connect-wraper:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);

}   
.body__connect-img {
    width: 32px;
    height: 32px;
    margin: 4px 10px;
}
.body__connect-desc {
    font-size: 18px;

}


    /* flash sale */
.body__flash-sale {
    /* padding: 16px 0; */

}
.body__flash-sale-heading {
    font-size: 22px;
    margin-bottom: 12px;
    color: #424242;
}
.body__times {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    height: 60px;
    width: 100%;
    background-color: #fff;
    border: 1px #bfbfbf solid;
}
.body__times-wrapper {
    display: flex;
    padding: 20px;
}
.body__times-header {
    font-size: 14px;
    color: #f78c2a;
    margin-right: 64px;
}
.body__times-counts {
    font-size: 14px;
    
}
.body__times-counts span {
   color: #fff;
   padding: 12px 14px;
   border-radius: 4px;
    background-color: #d3232a;
    margin-left: 10px;
}
.body__times-shop-wrapper {
    padding: 20px;
   display: flex;
   align-items: center;
}
.body__times-shop {
    font-size: 14px;    
    border: 1px solid #e96b22;
    color: #f89946;
   padding: 10px;
   margin-right: 14px;
   cursor: pointer;


}


.body__product-sale {
    display: flex;
    justify-content: space-between;
    /* padding: 16px 0; */
    margin-top: 10px;
    background-color: #fff;
    padding-bottom: 18px;

  


}
.body__wrapper-sale {
 cursor: pointer;
   
  width: 186px;
  height: 290px;
    box-sizing: border-box;
    background-color: #fff;
    

}
.wrapper:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);

}
.body__wrapper-sale--active {
  
}
.body__wrapper-sale-img {   
  height: 186px;
  width: 100%;

}
.wrapper {
    width: 100%;
    height: 37.5%;
    padding: 8px 10px 0;
    position: relative;
    top: -8px;
}
.body__wrapper-sale-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 8px;
    color: #000 ;

}
.body__wrapper-sale-price {
    font-size: 18px;
    color: #f57224;
    margin-bottom: 2px;
}
.body__wrapper-sale-discount {
    font-size: 12px;
    display: flex;
    padding-bottom: 10px;
}
.body__wrapper-sale-discount-before {
    text-decoration: line-through;
    margin-right: 6px;
}
.body__wrapper-sale-discount-after {
    padding-bottom: 10px;
}
.wrapper-body {
    
}
.body__merchandise {
    display: flex;
    height: 210px;
    overflow: hidden;
}
.body__heading {
    font-size: 22px;
    color: #424242;
    padding-top: 40px;
    margin-bottom: 6px;
}
.body__merchandise-list {
    width: 236px;
    border-radius: 2px;
    position: relative;
}
.body__merchandise-list--nor {
    background-color: #ecf5f8;
    position: relative;
    height: 202px;
    /* width: 200px; */
    margin-left: 2px;
}
.body__merchandise-list--nor:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    z-index: 2;
}
.col.body__merchandise-list {
    padding: 0 0;
    margin-right: 4px;
    padding-bottom: 12px;
    cursor: pointer;

}

.body__merchandise-item {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    margin-bottom: 3px;

}
.body__merchandise-item:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.body__merchandise-item--color {
   background-color: #f8f1e9;
}
.body__merchandise-item--color1 {
    background-color: #f9eaea;
}
.body__merchandise-item--color2 {
    background-color: #eceef7;
}
.body__merchandise-item--color3 {
    background-color: #f2ede9;
}
.merchandise__contain-img {
    
}
.merchandise__contain-img--nor {
   
}
.merchandise__img { 
    padding-left: 10px;
    width: 55%;
}
.merchandise__img--nor {
    width: 62%;
    display: flex;
    margin: 0 auto;
   padding-left: 0;
   padding-bottom: 4px;
    margin-bottom: 10px;
}
.merchandise__heading {
    left: 50%;
    transform: translateX(-50%);
}
.merchandise__heading--nor {
    position: absolute;

}
.merchandise__name {
    font-size: 14px;
    margin-bottom: 4px;
    width: 85px;
}
.merchandise__quantity {
    font-size: 12px;
    color: #9e9e9e;
}


    /* body-collect */
.body__collect {

}
.body__collect-contain {
    display: flex;
    justify-content: space-between;

}
.body__collect-wrapper {
    height: 146px;
    width: 300px;
    background-color: #fff;
    padding: 0 8px;
    border-right: 1px solid #bfbfbf;
    border-bottom:1px solid #bfbfbf ;
    cursor: pointer;

}
.body__collect-wrapper:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    z-index: 2;
}
.body__collect-wrapper--border {
    border-right: unset;
}
.body__collect-text {
    text-align: center;
    padding: 12px 0;

}
.body__collect-heading {
    font-size: 14px;
    color: #212121;
    margin-bottom: 4px;
}
.body__collect-subheading {
    font-size: 12px;
    color: #757575;

}
.body__collect-wrapper-img {
    display: flex;
    justify-content: center;

}
.body__collect-img {
    width: 66px;
    margin: 0 8px;   


}
.body__collect-wrapper--cancel-border-bottom {
    border-bottom: unset;
}


.body__heading-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body_heading-more {
    font-size: 14px;
    position: relative;
    top: 20px;
    color: #1a9cb7;
    font-weight: 500;
}
.body_heading-more-icon {
    font-size: 14x;
    
}



.mall__wrapper {
    display: flex;
    justify-content: space-between;
}
.mall__content {
    width: 188px;
    height: 270px;
    
    position: relative;
    margin-right: 12px;
    /* overflow: hidden; */
    cursor: pointer;
    background-color: #fff;
    margin-right: 0px;
}
.mall__content:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);

}
.mall__wrapper-img {

}
.mall__img {
    display: flex;
    justify-content: center;
    width: 188px;
}
.mall__subimg {
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    padding: 4px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);

}
.mall__text {
    text-align: center;
    padding-top: 24px;
}
.mall__text-heading {
    font-size: 14px;
    margin: 8px 8px 4px;
    color: #212122;

}
.mall__text-subheading {
    font-size: 12px;
    /* position: absolute; */
    color: #9e9e9e;
    padding-bottom: 4px;
}
.overlay {
    width: 188px;
    height: 36px;
    top: 152px;
    left: 0;
    position: absolute;
    opacity: .25;
    background: rgba(0,0,0,.04);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
}





.body__categoy-list {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
   /* width: 146px; */
}
.body__categoy-item {
    width: 150px;
    height: 150px;
   border-right: 1px solid #d6d6d6;
   border-bottom: 1px solid #d6d6d6;
   cursor: pointer;
}
.body__categoy-item:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    
}
.body__categoy-item--unsetborder {
    border-right: unset;
}
.body__categoy-item--unset-border-bottom {
    border-bottom: unset;
}
.body__categoy-item-img {
    width: 80px;
    background-size: cover;
   margin-left: 30px;
   padding-top: 18px;
}
.body__categoy-item-heading {
    font-size: 14px;
    text-align: center;
    margin: 8px 12px 0;
    color: #212122;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}



.body__bonus {
    width: 100%;
    height: 69px;
    padding: 20px 0 9px 0;
    border-bottom: 1px solid #d6d6d6;
   


}
.body__box-bonus {
    text-align: center;
    width: 387px;
    height: 40px;
    color: #1a9cb8;
    border: 1px solid #1a9cb8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}
.body__end-wrapper-img {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.body__end-img {
    width: 390px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}
.footer {
    display: flex;
    padding-top: 70px;
}
.footer__heading {
    font-size: 16px;
    color: #606060;
    padding-bottom: 8px;
}
.footer__content {
    font-size: 12px;
    color: #888;
}